<div class="dashboard__frame">
    <header>
        <h1>DashBoard</h1>
    </header>
    <section>
        <% if(audios) { %>
            <div class="dashboard__audio__frame station__card">
                <% audios.forEach((audio) => { %>
                    <div>
                        <div>
                            <% if(audio.coverImagePath) { %>
                                <img style="border-radius: 5px;" width="250" height="250" src="<%= audio.coverImagePath %>" alt="">
                            <% } else { %>
                                <img style="border-radius: 5px;" width="250" height="250" src="/images/audio.jpg" alt="">
                            <% } %>
                        </div>
                        <div>
                            <div>
                                <h2>Title</h2>
                            </div>
                            <div>
                                <h4><%= audio.title %></h4>
                            </div>
                        </div>
                        <div>
                            <audio controls src="<%= protocol %>://<%= url_part %>/station/audio/<%= audio.source %>"></audio>
                        </div>
                        <div>
                            <form action="<%= protocol %>://<%= url_part %>/dashboard/delete/<%= audio._id %>?_method=DELETE">
                                <button style="margin-top: 0.5rem;" class="delete__btn" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <div>
                Get Free Audios
            </div>
        <% } %>
    </section>
    <footer>
        <div class="dashboard__footer__frame">
            <div class="select__card">
                <i class="fas fa-headphones-alt"></i>
                <a class="clear__link__letter" href="/search">Search</a>
            </div>
            <div class="select__card">
                <i class="fas fa-place-of-worship"></i>
                <a class="clear__link__letter" href="/station">Station</a>
            </div>
            <div class="select__card">
                <i class="fas fa-sign-out-alt"></i>
                <a class="clear__link__letter" href="/logout">Logout</a>
            </div>
        </div>
    </footer>
</div>