<header>
    <div>
        <div>
            <a href="/dashboard">Home</a>
        </div>
    </div>
</header>
<section>
    <div>
        <div>
            <div>
                <%= my_name %>
            </div>
            <div>
                <% audios.forEach((audio, index) => { %>
                    <div>
                        <% if(audio.coverImagePath) { %>
                            <img height="250" width="250" src="<%= audio.coverImagePath %>" alt="">
                        <% } else { %>
                            <img height="250" width="250" src="/images/audio.jpg" alt="">
                        <% } %>
                    </div>
                    <div>
                        <h2><%= audio.title %></h2>
                    </div>
                    <div>
                        <audio src="<%= protocol %>://<%= url_part %>/station/audio/<%= audio.source %>" controls></audio>
                    </div>
                    <div>
                        <form action="<%= protocol %>://<%= url_part %>/station/audio/<%= audio.source %>?_method=DELETE" method="POST">
                            <button type="Delete">Delete</button>
                        </form>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</section>
<footer>
    <a href="/station/upload">Upload Your Audio</a>
</footer>