<header>
    <a href="/search">Go To Search</a>
</header>
<section>
    <div>
        <div>
            <div>
                Image File
            </div>
            <div>
                <%= detail_user.name %>
            </div>
            <div>
                <%= detail_user.follower_number %>
            </div>
            <div>
                <% if(String(detail_user._id)===String(me)) { %>       
                    
                    
                <% } else { %>
                    <% if(!checked_follow) { %>
                        <form action="/detail/author/follow/<%= detail_user._id %>" method="POST">
                            <button type="submit">FOLLOW</button>
                        </form>
                    <% } else { %>
                        <form action="/detail/author/unfollow/<%= detail_user._id %>" method="POST">
                            <button type="submit">UNFOLLOW</button>
                        </form>
                    <% } %>  
                <% } %>
            </div>
            <div>
                <% detail_audios.forEach((audio) => { %>
                    <% if(audio.coverImagePath) { %>
                        <a href="/detail/audio/<%= audio._id %>"><img width="250" height="250" src="<%= audio.coverImagePath %>" alt=""></a>
                    <% } else { %>
                        <a href="/detail/audio/<%= audio._id %>"><img width="250" height="250" src="/images/audio.jpg" alt=""></a>
                    <% } %>
                <% }) %>
            </div>
        </div>
            
    </div>
</section>
<footer>
    
</footer>